<!--TABS-->
<div class="container">
<h3>Rails Bible App</h3>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#old">Old Testament</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#new">New Testament</a></li>
    </ul>
  </div><br>
<!--END TABS-->

<!--
<div class="tab-content">
  <div class="tab-pane container" id="old">Old</div>
  <div class="tab-pane container" id="new">New</div>
</div>-->
  
<!--BOOKS-->
<div class="container">
  <div class="row">
    <div class=col-md-12>
      <div class="tab-content">
        <!-- OLD TESTAMENT-->
        <div class="tab-pane container" id="old">
          <h3>Old Testament</h3>
          <%@all_books.each do |book|%>
            <%if book[0]<40%>
              <span class="book">
                <a href="#"><%=book[1]%> <span class="badge"><%=book[0]%></span></a>
              </span>
            <%end%>
          <%end%>
        </div>
        <!-- END OLD TESTAMENT-->
        <!-- NEW TESTAMENT-->
        <div class="tab-pane container" id="new">
          <h3>New Testament</h3>
          <%@all_books.each do |book|%>
            <%if book[0]>39%>
              <span class="book">
                <a href="#"><%=book[1]%> <span class="badge"><%=book[0]%></span></a>
              </span>
            <%end%>
          <%end%>
        </div>
        <!-- END NEW TESTAMENT-->
        </div>
    </div>
<!--BOOKS-->  
    
<!--PAGINATION-->
    <nav align="middle" aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% (1..16).each do |i|%>
    <li><a href="#"><%=i%></a></li><%end%>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<!--PAGINATION-->
    
    <!--WORDS-->
    <div class="container">
    <h2 align="center">Romans <%=@text[0][0]%></h2>
    <%@text.each do |verse|%>
    <b><span class="verse"><%=verse[1]%> </span></b>
    <%=verse[2]%><br>
<%end%>
    </div><!--WORDS-->   
  </div>
</div>